@using SemanticAspire.Web.Components.Controls
@inherits LayoutComponentBase

<div>
    <FluentStack 
        Orientation="Orientation.Vertical" 
        HorizontalAlignment="HorizontalAlignment.Stretch" 
        Class="layout-view">
        
        <FluentHeader><h1>Azure IoT Operations</h1></FluentHeader>
        
        <FluentStack 
            Orientation="Orientation.Horizontal" 
            VerticalAlignment="VerticalAlignment.Stretch" 
            Class="layout-view-center">
        
            <GlobalNavigation/>
            <main class="layout-view-main">
                @Body
            </main>
        
        </FluentStack>
        
        <FluentFooter>
            <div>https://github.com/chieftn/SemanticAspire</div>
        </FluentFooter>
    </FluentStack>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
