@page "/"
@rendermode InteractiveServer
@inject ChatApiClient ChatClient

<PageTitle>Home</PageTitle>

<div class="layout-view">
    <div class="layout-view-center">
        @foreach (var response in responses)
        {
            <div>@response.response</div>
        }
    </div>


    <div >
        <FluentTextField @bind-Value=prompt Placeholder="Message Aspire" />
        <FluentButton Appearance="Appearance.Stealth" OnClick="SubmitPromptAsync">Prompt</FluentButton>
    </div>
</div>

@code {
    List<PromptResponse> responses = [];
    string? prompt;

    async Task SubmitPromptAsync()
    {
        var result = await ChatClient.PostPromptAsync(prompt);
		this.responses.Add(result);
    }
}


