@page "/"
@rendermode InteractiveServer
@inject ChatApiClient ChatClient

<PageTitle>Home</PageTitle>

<div class="layout-view">
    <div class="chat-view-center">
        @foreach (var prompt in prompts)
        {
            <SemanticAspire.Web.Components.Controls.ChatInteraction Prompt=@prompt/>
        }
    </div>

    <div class="chat-view-bottom" >
        <div class="chat-prompt">
            <FluentTextField 
                @bind-Value=prompt
                @onkeypress="OnEnter"
                Immediate=true
                Placeholder="Message IoT Operations" 
                Appearance="FluentInputAppearance.Filled"
                Autofocus=true
                AutoComplete="off"/>

            <div class="chat-prompt-commands">
                <FluentButton
                    Disabled="String.IsNullOrWhiteSpace(prompt)"
                    IconStart="@(new Icons.Regular.Size16.Send())"
                    Appearance="Appearance.Stealth"
                    OnClick="SubmitPrompt"/>
            </div>
        </div>
    </div>
</div>

@code {
    List<string> prompts = [];
    string? prompt;

    void SubmitPrompt()
    {
        if (!String.IsNullOrWhiteSpace(prompt)) 
        {
            prompts.Add(prompt);
            prompt = String.Empty;
        }
    }

    void OnEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            this.SubmitPrompt();
        }
    }
 }


